@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-color: black;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo{
    position: relative;
    font-size: 2em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

header .toggle{
    max-width: 60px;
    cursor: pointer;
}

header .toggle img{
    max-width: 100%;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .1;
    pointer-events: none;
}

.banner::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.banner .text{
    position: relative;
    max-width: 600px;
    z-index: 2;
}

.banner .text h2{
    color: #fff;
    font-size: 3em;
}

.banner .text p{
    font-size: 1.1em;
    color: #fff;
    margin: 5px 0 25px;
}

.banner .text a{
    position: relative;
    display: inline-block;
    background: #fff;
    color: #111;
    padding: 15px 25px;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner .video{
    position: relative;
    background: #fff;
    margin-left: 40px;
    width: 100%;
    height: 400px;
    z-index: 1;
}

.banner .video video{
    opacity: 1;
}

.banner .sci{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .sci li a{
    display: inline-block;
    margin-right: 15px;
    
}
.banner .sci li a img{
    filter: invert(1);
    transform: scale(.7);
}

@media (max-width: 991px){
    header{
        padding: 20px 50px;
    }
    .banner{
        padding: 150px 50px 0;
        flex-direction: column;
    }
    .banner::before{
        display: none;
    }
    .banner .text{
        max-width: 100%;
    }
    .banner .text h2{
        font-size: 2.5em;
    }
    .banner .video{
        width: 100%;
        height: 200px;
        margin: 40px 0 100px;
    }
    .banner .video video{
        height: 100%;
    }
}